$layout-breakpoint-small: 600px;

.left-box {
  flex: 2;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: $layout-breakpoint-small) {
    // width: 100%;
    flex: 1;
  }
}



.right-box {
  flex: 3;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: $layout-breakpoint-small) {
    // width: 100%;
    flex: 1;
  }
}