  $color-grey-pr-main: #62727f;
  $color-white-pr-light: #ffffff;
  $color-grey-black-pr-dark: #212b35;
  $color-purple-pr-contrast: #91128b;

  $color-grey-light-sec-main: #b1b5b8;
  $color-purple-light-sec-light: #fcf6fc;
  $color-purple-bg-sec-dark: #d8aad5;
  $color-green-sec-contrast: #0fab5b;

  $color-light-grey: #d7d9db;