:root{
  --color-grey-pr-main: #62727f;
  --color-white-pr-light: #ffffff;
  --color-grey-black-pr-dark: #212b35;
  --color-purple-pr-contrast: #91128b;

  --color-grey-light-sec-main: #b1b5b8;
  --color-purple-light-sec-light: #fcf6fc;
  --color-purple-bg-sec-dark: #d8aad5;
  --color-green-sec-contrast: #0fab5b;

  --color-light-grey: #d7d9db;
}

* {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}
.container {
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  gap: 2rem;
  padding: 6px 12px;
}
.left-box {
  flex: 1;
  height: 10rem;
  /* border: 1px solid pink; */
  margin-right: 1rem;
}
.right-box{
  flex: 2;
  height: 10rem;
  /* border: 1px solid powderblue; */
}
.box-paper{
  box-shadow: -1px 3px 5px 1px var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  min-height: 2rem;
  align-self: center;
}
.box-paper > option{
border: none;
box-shadow: -1px 3px 5px 1px var(--color-light-grey);

}
.box-paper>option:active{
background-color: var(--color-purple-bg-sec-dark);
}
.box-paper>option:hover {
  background-color: var(--color-purple-bg-sec-dark);
}
.option{
  border: none;
    box-shadow: -1px 3px 5px 1px var(--color-light-grey);
}
.option:hover {
  background-color: var(--color-purple-bg-sec-dark);
}

/* ----- acordion --- */
.acordion {
width: 100%;
}
.btn {
width: 100%;
border-style: none;
background-color: #ffffff;
display: inline-flex;
justify-content: space-between;
align-items: center;
}
.btn:focus-visible{
  border-style: none;
}
.acordion-item{
border: 1px solid pink;
height: 20rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}