@import '../../../styles/variables';


.preview-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.preview-file-name-container {
  display: flex;
  color: $color-grey-pr-main;
  font-weight: bold;
  align-self: center;

  button {
    border-style: none;
    background-color: $color-white-pr-light;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding: 0 1.5rem;
  }

  span {
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.preview-block {
  height: 50vh;
  width: 100%;
  background-color: #e4e7ea;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}