@import '../../../styles/variables';

.popup-window {
  height: 70vh;
  width: 30rem;
  background-color: $color-white-pr-light;
  border-radius: 18px;
}

.popup--file-name {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-grey-pr-main;
  font-weight: 500;
}

.popup--content {
  margin: 0 1rem 1rem;
  height: 60vh;
  width: 28rem;
  border-radius: 8px;
  overflow-y: scroll;
}

.popup-pages {
  height: 30rem;
  width: 26.5rem;
  border-radius: 8px;
  background-color: #e1e4e8;
  margin-bottom: 0.5rem;
}

.popup--content::-webkit-scrollbar {
  width: 11px;
  background-color: $color-white-pr-light;
  border-radius: 10px;
}

.popup--content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid $color-grey-light-sec-main;
}

.popup--content::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: $color-grey-light-sec-main;
  background-clip: content-box;
  width: 8;
}

.popup--x {
  border-style: none;
  background-color: #ffffff00;
  position: relative;
  top: calc(6rem - 50vh);
  left: calc(30vw - 1rem);
}

.green-btn:focus-visible {
  border-style: none;
}